<template>
  <div>
    <router-view></router-view>
    <everything-shop-footer></everything-shop-footer>
  </div>
</template>

<style>
.pink-text{color: #E941F2;}
.right-margin-15{margin-right: 15px;}
.right-margin-30{margin-right: 30px;}
</style>
