<template>
  <div>
    <everything-shop-simple-navigation></everything-shop-simple-navigation>
    <div class="container top-margin-50 full-height">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-sm-12 col-md-8">
				<div class="card">
					<ul class="nav nav-tabs nav-justified" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" href="#login" role="tab" data-toggle="tab">LOGIN</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#register" role="tab" data-toggle="tab">REGISTER</a>
					  </li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					  <div role="tabpanel" class="tab-pane active" id="login">
							<div class="alert login-alert alert-danger d-none">
									<a href="#" class="close alert-close" aria-label="close" v-on:click="hideLoginAlert">&times;</a>
									<span class="login-alert-message-content"></span>
							</div>
					  	<div class="row">
					  		<div class="col-sm-12">
					  			<div class="form-group">
					  				<label for="login_email">Email Address*</label>
					  				<input type="email" v-model="login_email" id="login_email" class="form-control" />
					  			</div>
					  			<div class="form-group">
					  				<label for="login_password">Password*</label>
					  				<input type="password" v-model="login_password" id="login_password" class="form-control" />
					  			</div>
					  			<br />
					  			<div class="form-group">
					  				<button class="btn form-control btn-submit" v-on:click="attemptToLogin">LOGIN</button>
					  			</div>
					  		</div>
					  	</div>

					  </div>
					  <div role="tabpanel" class="tab-pane fade" id="register">
							<div class="alert register-alert alert-danger d-none">
									<a href="#" class="close alert-close" aria-label="close" v-on:click="hideRegisterAlert">&times;</a>
									<span class="register-alert-message-content"></span>
							</div>
					  	<div class="row">
					  		<div class="col-sm-12">
					  			<div class="form-group">
					  				<label for="register_first_name">First Name*</label>
					  				<input type="text" v-model="register_first_name" id="register_first_name" class="form-control" />
					  			</div>
					  			<div class="form-group">
					  				<label for="register_last_name">Last Name*</label>
					  				<input type="text" v-model="register_last_name" id="register_last_name" class="form-control" />
					  			</div>
					  			<div class="form-group">
					  				<label for="register_email">Email Address*</label>
					  				<input type="email" v-model="register_email" id="register_email" class="form-control" />
					  			</div>
					  			<div class="form-group">
					  				<label for="register_phone">Phone Number*</label>
					  				<input type="text" v-model="register_phone" id="register_phone" class="form-control" />
					  			</div>
					  			<div class="form-group">
					  				<label for="register_password">Password*</label>
					  				<input type="password" v-model="register_password" id="register_password" class="form-control" />
					  			</div>
					  			<div class="form-group">
					  				<label for="register_password_confirmation">Password Confirmation*</label>
					  				<input type="password" v-model="register_password_confirmation" id="register_password_confirmation" class="form-control" />
					  			</div>
					  			<br />
					  			<div class="form-group">
					  				<button class="btn form-control btn-submit" v-on:click="attemptToRegister">REGISTER</button>
					  			</div>
					  		</div>
					  	</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
  </div>
</template>

<script>
export default {
	data(){
			return{
				endpoint: "http://127.0.0.1:1337",
				login_email: "",
				login_password: "",
				register_first_name: "",
				register_last_name: "",
				register_email: "",
				register_phone: "",
				register_password: "",
				register_password_confirmation: ""
			};
	},
	methods:{
		hideRegisterAlert: function(){
			$('.register-alert').addClass('d-none');
		},
		hideLoginAlert: function(){
			$('.login-alert').addClass('d-none');
		},
		showErrorRegisterAlert: function(message){
			$(".alert").addClass("d-none");
			$(".register-alert").removeClass("alert-success").addClass("alert-danger");
			$(".register-alert").removeClass("d-none");
			$(".register-alert-message-content").text(message);
		},
		showErrorLoginAlert: function(message){
			$(".alert").addClass("d-none");
			$(".login-alert").removeClass("alert-success").addClass("alert-danger");
			$(".login-alert").removeClass("d-none");
			$(".login-alert-message-content").text(message);
		},
		showSuccessRegisterAlert: function(message){
			$(".alert").addClass("d-none");
			$(".register-alert").removeClass("alert-danger").addClass("alert-success");
			$(".register-alert").removeClass("d-none");
			$(".register-alert-message-content").text(message);
		},
		showSuccessLoginAlert: function(message){
			$(".alert").addClass("d-none");
			$(".login-alert").removeClass("alert-danger").addClass("alert-success");
			$(".login-alert").removeClass("d-none");
			$(".login-alert-message-content").text(message);
		},
		validateLoginCredentials: function(){
			//validate email address on client side
			if( ! this.validateEmail(this.login_email.trim()) ) {
					this.showErrorLoginAlert('The email must be of the valid format');
					return "error";
			}

			//validate password on client side
			if(this.login_password.trim() == ""){
					this.showErrorLoginAlert('The password should be at least six characters');
					return "error";
			}
		},
		validateRegisterCredentials: function(){
			            //validate first name on client side
            if( this.register_first_name.trim() == "" || this.register_first_name.trim().length < 3){
                this.showErrorRegisterAlert("The first name must be at least 3 characters");
                return "error";
            }

            //validate last name on client side
            if( this.register_last_name.trim() == "" || this.register_last_name.trim().length < 3){
                this.showErrorRegisterAlert("The last name must be at least 3 characters");
                return "error";
            }

            //validate email address on client side
            if( ! this.validateEmail(this.register_email.trim()) ) {
                this.showErrorRegisterAlert("The email must be of the valid format");
                return "error";
            }

            //validate phone number on client side
            if(this.register_phone.trim() == "" ){
                this.showErrorRegisterAlert("The phone number is required");
                return "error";
            }

            //validate password on client side
            if(this.register_password == "" || this.register_password.length < 6){
                this.showErrorRegisterAlert("The password should be at least six characters");
                return "error";
            }

            //validate password confirmation on client side
            if(this.register_password_confirmation != this.register_password){
                this.showErrorRegisterAlert("The password confirmation is not the same");
                return "error";
            }
		},
		attemptToLogin:function(){

			//validation
			if(this.validateLoginCredentials() == "error") return;

			//attempt to login
			this.$http.post('http://localhost:1337/user/login', 
						{
							"email" : this.login_email,
							"password" : this.login_password,
						}
				)
				.then(
					response => { //success
						return response.json();
					}, 
					response => { //error
						return response;
					}
			).then(
				data => { 
						console.log(data); 

						if(data["status"] == "success" && data["message"] == "login_successful"){
							this.$session.set('everything_shop_user_id', data.data.id);
							this.$session.set('everything_shop_user_is_logged_in', "yes");
							this.$router.push('/products');

						}else{
								//show error message
								this.showErrorLoginAlert('Something went wrong. Cannot register at this time');

								//clear password and pin fields
								this.login_password = "";
						}
						
				}
			);
		},
		attemptToRegister:function(){
			
			//validation
			if(this.validateRegisterCredentials() == "error") return;

			//attempt to register
			this.$http.post('http://localhost:1337/user/create', 
						{
							"firstname" : this.register_first_name,
							"lastname" : this.register_last_name,
							"phonenumber" : this.register_phone,
							"email" : this.register_email,
							"password" : this.register_password,
							"datecreated": "99999"
						}
				)
				.then(
					response => { //success
						console.log("Checkpoint 1");
						return response.json();
					}, 
					response => { //error
						console.log("Checkpoint 2");
						return response;
					}
			).then(
				data => { 
						console.log(data); 

						if(data["status"] == "success" && data["message"] == "user_created"){
							this.$session.set('everything_shop_user_id', data.data.id);
							this.$session.set('everything_shop_user_is_logged_in', "yes");
							this.$router.push('/products');

						}else{
								//show error message
								this.showErrorRegisterAlert('Something went wrong. Cannot register at this time');

								//clear password and pin fields
								this.register_password = "";
								this.register_password_confirmation = "";
						}
						
				}
			);
		},
		validateEmail: function(email){
			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(String(email).toLowerCase());
		},
	},
}
</script>

<style>
.full-height{min-height: calc(100vh - 100px);}
label{font-family: 'Oswald', sans-serif;}
.nav-link{font-family: 'Montserrat', sans-serif; border: none !important; color: black !important;}
.card .nav-link{padding: 20px 0px;}
.nav-link.active{ border-bottom: 2px solid #E941F2 !important; color: black !important;}
.top-margin-50{margin-top: 50px;}
.card{
    margin-top: 80px;
    margin-bottom: 80px; 
    border: none; 
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 27px -1px rgba(158,156,158,0.5);
    -moz-box-shadow: 0px 0px 27px -1px rgba(158,156,158,0.5);
    box-shadow: 0px 0px 27px -1px rgba(158,156,158,0.5);
}
.tab-pane{padding: 30px;}
.btn-submit{background: black; border-color: black; color: white;}
.btn-submit:hover{color: #E941F2; background: black; border-color: black;}
.btn{font-family: 'Montserrat', sans-serif;}
</style>
