<template>
    <div>
        <everything-shop-navigation :cartItem="cartItem" :cartTotal="cartTotal" :fullName="fullName"></everything-shop-navigation>
       <div class="container top-margin-100 full-height" v-if="cartItem.length > 0">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center title">Shopping bag</h4>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-sm-8">

                    <div class="row product-row" v-for="item in cartItem" :key="item.product">
                        <div class="col-sm-4">
                            <img v-bind:src = "item.description.imageUrl" class="full-width-height-image">
                        </div>
                        <div class="col-sm-8">
                            <h6 class="product-title">{{ item.description.name }}</h6>
                            <br />
                            <span class="minus" v-on:click="decreaseQuantity(item)">-</span>&nbsp;&nbsp;<span class="quantity">{{ item.quantity }}</span>&nbsp;&nbsp;<span class="plus" v-on:click="increaseQuantity(item)">+</span>
                            <br /><br />
                            <a href="#" class="pink-text remove" v-on:click="removeItem(item)">
                                <small>REMOVE</small>
                            </a>
                            <p class="price">
                                <small>
                                    {{ item.description.price * item.quantity | currency }}
                                </small>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <h6 class="title">Order Summary</h6>
                    <br />
                    <div class="row">
                        <div class="col-7">
                            <p>SUBTOTAL</p>
                        </div>
                        <div class="col-5">
                            <p class="text-right">
                                {{ cartTotal | currency }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p>SHIPPING</p>
                        </div>
                        <div class="col-5">
                            <p class="text-right">
                                {{ '0' | currency }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p>TAX</p>
                        </div>
                        <div class="col-5">
                            <p class="text-right">
                                {{ '0' | currency }}
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-7">
                            <p>ORDER TOTAL</p>
                        </div>
                        <div class="col-5">
                            <p class="text-right">
                                {{ cartTotal | currency }}
                            </p>
                        </div>
                    </div>

                    <router-link class="form-control btn btn-submit btn-checkout" to="/checkout" style="line-height: 25px;">CHECKOUT</router-link>
                </div>
            </div>
	    </div>
        <div class="container top-margin-100 full-height" v-else>

            <h6 class="title">There are no items in your shopping bag</h6>
        </div>


       
       

    
    </div> 
</template>

<script>
import Vue from 'vue';

import VueLocalStorage from 'vue-localstorage';
Vue.use(VueLocalStorage);

export default {
    data(){
        return{
            products: [],
            quantity: 1,
            product: null,
            productId: null,
            cartItem: JSON.parse(this.$localStorage.get('everythingShopCartItems', '[]')),
            fullName: ""
        };
    },
    localStorage: {
        everythingShopCartItems: {
        type: String,
        default: '[]'
        },
    },
    methods:{
        increaseQuantity: function(item){
            item.quantity++;
            this.$localStorage.set('everythingShopCartItems', JSON.stringify(this.cartItem));
        },
        decreaseQuantity: function(item){
            item.quantity--;
            if(item.quantity == 0){
                //remove item from array
                this.cartItem.splice(this.cartItem.indexOf(item), 1);
            }
            this.$localStorage.set('everythingShopCartItems', JSON.stringify(this.cartItem));
        },
        removeItem: function(item){
            //remove item and update local storage
            this.cartItem.splice(this.cartItem.indexOf(item), 1);
            this.$localStorage.set('everythingShopCartItems', JSON.stringify(this.cartItem));
        }

    },
    beforeCreate: function(){
        if (!this.$session.exists()) {
            this.$router.push('/login')
        }
    },
    computed:{
        cartTotal: function(){
            var total = 0;
            
            this.cartItem.forEach(function(item) {
                total += +item.quantity * +item.description.price;
            });

            return total;
        }
    },
    created(){
        if (this.$session.exists()) {
            var userId = this.$session.get("everything_shop_user_id");

            this.$http.get("http://localhost:1337/user/"+userId)
            .then( 
                response => { //success
                    return response.json();
                    //console.log(response);
                }, 
                response => { //error
                    alert("Error. Could not fetch user at this time")
                }
            )
            .then(user => { this.fullName = user.firstname + " " + user.lastname; });
        }
        
    }
}
</script>

<style>
.bg-dark{
			background-color: black !important;
		}
        .full-height{min-height: calc(100vh - 150px);}
		.btn, p, .price, .remove, nav{font-family: 'Montserrat', sans-serif;}
		.title, .navbar-brand{letter-spacing: 5px; text-transform: uppercase; font-family: 'Montserrat', sans-serif;}
		.product-title{letter-spacing: 5px; text-transform: uppercase; font-family: 'Oswald', sans-serif;}
		.pink-text{color: #E941F2;}
		.right-margin-15{margin-right: 15px;}
		.right-margin-30{margin-right: 30px;}
		.badge-pink{background-color: #8A0091;}
		.badge{padding: 3px 5px; border-radius: 50%;}
		.navbar-text{color: white !important;}
		.cart-area{position: relative;}
		.cart-area .badge{position: absolute; top: 3px; right: -15px;}
		.fa-shopping-cart{font-size: 20px;}
		.top-margin-100{margin-top: 100px;}
		.full-width-height-image{width: 100%; height: auto;}
		.product-row{
			margin-bottom: 30px;
		}
		.quantity{
			padding: 10px 20px; border: 1px solid black;
		}
		.plus, .minus{font-weight: bolder; font-size: 25px; cursor: pointer;}
		.plus:hover, .minus:hover{color: #8A0091;}
		.btn-submit{background: black; border-color: black; color: white; border-radius: 0px;}
		.btn-submit:hover{color: #E941F2; background: black; border-color: black;}
</style>

