<template>
    <div>
        <everything-shop-navigation :cartItem="cartItem" :cartTotal="cartTotal" :fullName="fullName"></everything-shop-navigation>
       <div class="container top-margin-100 full-height">
		<div class="row">
			<div class="col-sm-4 col-12">
                
				<h6 class="title">1. Shipping information</h6>
				<br />
                <div class="alert alert-danger d-none">
                    <a href="#" class="close alert-close" aria-label="close" v-on:click="hideAlert">&times;</a>
                    <span class="alert-message-content"></span>
                </div>
				<div class="form-group">
	  				<input type="text" class="form-control" disabled="disabled" value="Nigeria" v-model="country"/>
	  			</div>
	  			<div class="form-group">
	  				<input type="text" class="form-control" placeholder="Street" v-model="street" />
	  			</div>
	  			<div class="form-group">
	  				<input type="text" class="form-control" placeholder="City" v-model="city" />
	  			</div>
	  			<div class="form-group">
	  				<select class="form-control" v-model="state">
	  					<option value="Lagos">Lagos</option>
	  					<option value="FCT">FCT</option>
	  					<option value="Ogun">Ogun</option>
	  					<option value="Enugu">Enugu</option>
	  					<option value="Rivers">Rivers</option>
	  					<option value="Akwa-Ibom">Akwa-Ibom</option>
	  					<option value="Kaduna">Kaduna</option>
	  				</select>
	  			</div>
	  			<div class="form-group">
	  				<input type="text" class="form-control" placeholder="Zip" v-model="zip"/>
	  			</div>

	  			<br /><br />
	  			<h6 class="title">Payment Method</h6>
	  			<p>
	  				<small class="pink-text">
	  					Pay on Delivery
	  				</small>
	  			</p>
			</div>

			<div class="col-sm-4 col-12">
				<h6 class="title">2. Review Order&nbsp;&nbsp;<router-link to="/cart" class="pink-text"><small>Edit</small></router-link></h6>
				<br />
				<div class="row product-row" v-for="item in cartItem" :key="item.product">
					<div class="col-sm-4">
						<img v-bind:src = "item.description.imageUrl" class="full-width-height-image">
					</div>
					<div class="col-sm-8">
						<h6 class="product-title"><small>{{ item.description.name }}</small></h6>
						<p>
							<small>Qty: <span>{{ item.quantity }}</span></small>
						</p>
						<p class="price">
							<small>
								{{ item.description.price * item.quantity | currency }}
							</small>
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-12">
				<h6 class="title">Payment Total</h6>
				<br />
				<div class="row">
					<div class="col-7">
						<p>SUBTOTAL</p>
					</div>
					<div class="col-5">
						<p class="text-right">
							{{ cartTotal | currency }}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-7">
						<p>SHIPPING</p>
					</div>
					<div class="col-5">
						<p class="text-right">
							{{ '0' | currency }}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-7">
						<p>TAX</p>
					</div>
					<div class="col-5">
						<p class="text-right">
							{{ '0' | currency }}
						</p>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-7">
						<p>ORDER TOTAL</p>
					</div>
					<div class="col-5">
						<p class="text-right">
							{{ cartTotal | currency }}
						</p>
					</div>
				</div>

				<button class="form-control btn btn-submit" v-on:click="checkOut">CONTINUE</button>
			</div>
		</div>
	</div>
    </div> 
</template>

<script>
import Vue from 'vue';

import VueLocalStorage from 'vue-localstorage';
Vue.use(VueLocalStorage);

export default {
    data(){
        return{
            products: [],
            quantity: 1,
            cartItem: JSON.parse(this.$localStorage.get('everythingShopCartItems', '[]')),
            fullName: "",
            country: "Nigeria",
            street: "",
            city: "",
            state: "Lagos",
            zip: "",
            
        };
    },
    localStorage: {
        everythingShopCartItems: {
        type: String,
        default: '[]'
        },
    },
    methods:{
        hideAlert: function(){
            $(".alert").addClass("d-none");
        },
        showErrorMessage: function(message){
            $(".alert").addClass("d-none");
            $(".alert").removeClass("alert-success").addClass("alert-danger");
            $(".alert").removeClass("d-none");
            $(".alert-message-content").text(message);
        },
        checkOut: function(){
            console.log(JSON.stringify(this.cartItem));
            //validate address fields
            if(this.country.trim() == ""){
                this.showErrorMessage("The country is required");
                return;
            }
            if(this.street.trim() == ""){
                this.showErrorMessage("The street is required");
                return;
            }
            if(this.city.trim() == ""){
                this.showErrorMessage("The city is required");
                return;
            }
            if(this.state.trim() == ""){
                this.showErrorMessage("The state is required");
                return;
            }
            if(this.zip.trim() == ""){
                this.showErrorMessage("The zip is required");
                return;
            }
            //save order to db
			this.$http.post('http://localhost:1337/order/create', 
						{
							"customer" : this.$session.get("everything_shop_user_id"),
							"country" : this.country,
							"street" : this.street,
							"city" : this.city,
							"state" : this.state,
                            "zip" : this.zip,
                            "total" : this.cartTotal,
                            "cart" : JSON.stringify(this.cartItem),
						}
				)
				.then(
					response => { //success
						return response.json();
					}, 
					response => { //error
						return response;
					}
			).then(
				data => { 
						console.log(data); 

						if(data["status"] == "success" && data["message"] == "order_created"){
							//clear cart
                            this.$localStorage.remove('everythingShopCartItems');
                            //redirect to thank you page
                            this.$router.push('/confirmed');

						}else{
							alert("Something went wrong. Could not check out");
						}
						
				}
			);
            
        }

    },
    beforeCreate: function(){
        if (!this.$session.exists()) {
            this.$router.push('/login')
        }
    },
    computed:{
        cartTotal: function(){
            var total = 0;
            
            this.cartItem.forEach(function(item) {
                total += +item.quantity * +item.description.price;
            });

            return total;
        }
    },
    created(){
        if (this.$session.exists()) {
            var userId = this.$session.get("everything_shop_user_id");

            this.$http.get("http://localhost:1337/user/"+userId)
            .then( 
                response => { //success
                    return response.json();
                    //console.log(response);
                }, 
                response => { //error
                    alert("Error. Could not fetch user at this time")
                }
            )
            .then(user => { this.fullName = user.firstname + " " + user.lastname; });
        }
        
    }
}
</script>

<style>
.bg-dark{
			background-color: black !important;
		}
        .full-height{min-height: calc(100vh - 150px);}
		.btn, p, .price, .remove, nav{font-family: 'Montserrat', sans-serif;}
		.title, .navbar-brand{letter-spacing: 5px; text-transform: uppercase; font-family: 'Montserrat', sans-serif;}
		.product-title{letter-spacing: 5px; text-transform: uppercase; font-family: 'Oswald', sans-serif;}
		.pink-text{color: #E941F2;}
		.right-margin-15{margin-right: 15px;}
		.right-margin-30{margin-right: 30px;}
		.badge-pink{background-color: #8A0091;}
		.badge{padding: 3px 5px; border-radius: 50%;}
		.navbar-text{color: white !important;}
		.cart-area{position: relative;}
		.cart-area .badge{position: absolute; top: 3px; right: -15px;}
		.fa-shopping-cart{font-size: 20px;}
		.top-margin-100{margin-top: 100px;}
		.full-width-height-image{width: 100%; height: auto;}
		.product-row{
			margin-bottom: 30px;
		}
		.quantity{
			padding: 10px 20px; border: 1px solid black;
		}
		.plus, .minus{font-weight: bolder; font-size: 25px; cursor: pointer;}
		.plus:hover, .minus:hover{color: #8A0091;}
		.btn-submit{background: black; border-color: black; color: white; border-radius: 0px;}
		.btn-submit:hover{color: #E941F2; background: black; border-color: black;}
		input, select {border-radius: 0px !important; border: 1px solid black !important; -webkit-appearance: none;
  -webkit-border-radius: 0px;}
</style>

