<template>
    <div>
        <everything-shop-navigation :cartItem="cartItem" :cartTotal="cartTotal" :fullName="fullName"></everything-shop-navigation>
        <div class="container top-margin-150 text-center full-height">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="title">Thank you for shopping with us</h4>
                    <br />
                    <router-link to="/" class="pink-text">Go to home</router-link><router-link to="/products" class="pink-text">Continue shopping</router-link>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
import Vue from 'vue';

import VueLocalStorage from 'vue-localstorage';
Vue.use(VueLocalStorage);

export default {
    data(){
        return{
            cartItem: JSON.parse(this.$localStorage.get('everythingShopCartItems', '[]')),
            fullName: "",
        };
    },
    localStorage: {
        everythingShopCartItems: {
            type: String,
            default: '[]'
        },
    },
    beforeCreate: function(){
        if (!this.$session.exists()) {
            this.$router.push('/login')
        }
    },
    computed:{
        cartTotal: function(){
            var total = 0;
            
            this.cartItem.forEach(function(item) {
                total += +item.quantity * +item.description.price;
            });

            return total;
        }
    },
    created(){
        if (this.$session.exists()) {
            var userId = this.$session.get("everything_shop_user_id");

            this.$http.get("http://localhost:1337/user/"+userId)
            .then( 
                response => { //success
                    return response.json();
                    //console.log(response);
                }, 
                response => { //error
                    alert("Error. Could not fetch user at this time")
                }
            )
            .then(user => { this.fullName = user.firstname + " " + user.lastname; });
        }
        
    }
}
</script>

<style>

    .full-height{min-height: calc(100vh - 150px);}
    .bg-dark{
        background-color: black !important;
    }
    .btn, p, .price, .remove, nav{font-family: 'Montserrat', sans-serif;}
    .title, .navbar-brand{letter-spacing: 5px; text-transform: uppercase; font-family: 'Montserrat', sans-serif;}
    .product-title{letter-spacing: 5px; text-transform: uppercase; font-family: 'Oswald', sans-serif;}
    .pink-text{color: #E941F2;}
    a.pink-text{text-transform: uppercase; font-family: 'Montserrat', sans-serif; margin: 30px;}
    .right-margin-15{margin-right: 15px;}
    .right-margin-30{margin-right: 30px;}
    .badge-pink{background-color: #8A0091;}
    .badge{padding: 3px 5px; border-radius: 50%;}
    .navbar-text{color: white !important;}
    .cart-area{position: relative;}
    .cart-area .badge{position: absolute; top: 3px; right: -15px;}
    .fa-shopping-cart{font-size: 20px;}
    .top-margin-150{margin-top: 150px;}
    .full-width-height-image{width: 100%; height: auto;}
    .product-row{
        margin-bottom: 30px;
    }
    .quantity{
        padding: 10px 20px; border: 1px solid black;
    }
    .plus, .minus{font-weight: bolder; font-size: 25px; cursor: pointer;}
    .plus:hover, .minus:hover{color: #8A0091;}
    .btn-submit{background: black; border-color: black; color: white; border-radius: 0px;}
    .btn-submit:hover{color: #E941F2; background: black; border-color: black;}
		
</style>

