<template>
    <footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<p class="text-right">Copyright &copy; 2018</p>
				</div>
			</div>
		</div>
	</footer>
</template>


<style>
    footer{background-color: black; color: white; padding-top: 10px; font-family: 'Montserrat', sans-serif;}
</style>

