<template>
    <div>
        <everything-shop-navigation :cartItem="cartItem" :cartTotal="cartTotal" :fullName="fullName"></everything-shop-navigation>
        <header class="text-center">
        <h1 class="title-heading"><span class="welcome-text">WELCOME TO EVERYTHING<span class="pink-text">SHOP</span></span></h1>
        <br /><br />
        <router-link to="/products" class="btn btn-pink header-bottom-margin" >Shop Now</router-link>
        </header>
    </div>
</template>



<script>
import Vue from 'vue';
import VueLocalStorage from 'vue-localstorage';
Vue.use(VueLocalStorage);
 
export default {
    data(){
        return{
            cartItem: JSON.parse(this.$localStorage.get('everythingShopCartItems', '[]')),
            fullName: ""
        };
    },
    localStorage: {
        everythingShopCartItems: {
        type: String,
        default: '[]'
        },
    },
    created(){
        if (this.$session.exists()) {
            var userId = this.$session.get("everything_shop_user_id");

            this.$http.get("http://localhost:1337/user/"+userId)
            .then( 
                response => { //success
                    return response.json();
                    //console.log(response);
                }, 
                response => { //error
                    alert("Error. Could not fetch user at this time")
                }
            )
            .then(user => { this.fullName = user.firstname + " " + user.lastname; });
        }
        
    },
    computed:{
        cartTotal: function(){
            var total = 0;
            
            this.cartItem.forEach(function(item) {
                total += item.quantity * item.description.price;
            });

            return total;
        }
    },
}
</script>

<style>
h1{
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 600px;
}
header{
  background: url('./assets/images/background.jpg');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 50px);
  margin: 0px;
}
.welcome-text{background-color: black; color: white; padding: 0 20px;}
.title-heading{padding-top: 250px;}
.header-bottom-margin{margin-bottom: 250px;}
.btn-pink{background: none; border: 3px solid #8A0091; color: #8A0091; font-family: 'Oswald', sans-serif; letter-spacing: 3px; border-radius: 0px; text-transform: uppercase; font-size: 30px;}
.btn-pink:hover{background-color: #8A0091; color: black; }
</style>

