<template>
    <div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
						<router-link class="navbar-brand" to="/">everything<span class="pink-text">shop</span></router-link>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarText">
							<ul class="navbar-nav mr-auto">
								<!--<li class="nav-item active">
									<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
								</li>-->
							</ul>
							<span class="navbar-text right-margin-15" v-if="! this.$session.exists()">
								<router-link to="/login">Login</router-link>
							</span>
							<span class="navbar-text right-margin-15" v-else>
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ fullName }}</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#" style="color: black;" v-on:click="logout">Logout</a>
									</div>
								</div>
								
							</span>
							<router-link to="/cart">
								<span class="navbar-text cart-area right-margin-30">
									<i class="fa fa-shopping-cart"></i>
									<span class="badge badge-pill badge-pink" >
										{{ cartItem.length > 9 ? '9+' : cartItem.length }}
									</span>
								</span>
							</router-link>
							<span class="navbar-text">
								{{ cartTotal | currency }}
							</span>
						</div>
					</nav>
				</div>
			</div>
		</div>
</template>
<script>
export default {
  props: [
    'cartTotal', 'cartItem', 'fullName'
  ],
  methods: {
	  logout: function () {
		this.$session.destroy();
		this.$router.push('/');
    }
  }
}
</script>
<!--
<script>
import Vue from 'vue';
import VueLocalStorage from 'vue-localstorage';
Vue.use(VueLocalStorage);

export default {
    data(){
			return{
				cartItem: JSON.parse(this.$localStorage.get('everythingShopCartItems', '[]')),
			};
    },
    localStorage: {
      everythingShopCartItems: {
        type: String,
        default: '[]'
      },
    },
    created(){
        console.log("cart");
        console.log(JSON.parse(this.$localStorage.get('everythingShopCartItems', '[]')));
		},
		computed:{
			cartTotal: function(){
				var total = 0;
				
				this.cartItem.forEach(function(item) {
					total += item.quantity * item.product.price;
				});

				return total;
			}
		}
}
</script>-->

<style>
.bg-dark{ background-color: black !important; }
nav{font-family: 'Montserrat', sans-serif;}
.navbar-brand{letter-spacing: 5px; text-transform: uppercase;}
.pink-text{color: #E941F2;}
.badge-pink{background-color: #8A0091;}
.badge{padding: 3px 5px; border-radius: 50%;}
.navbar-text{color: white !important;}
.cart-area{position: relative;}
.cart-area .badge{position: absolute; top: 3px; right: -15px;}
.fa-shopping-cart{font-size: 20px;}
</style>

