<template>
    <div>
       <!--<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
						<router-link class="navbar-brand" to="/">everything<span class="pink-text">shop</span></router-link>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarText">
							<ul class="navbar-nav mr-auto">
							</ul>
							<span class="navbar-text right-margin-15">
								<router-link to="/login">Login</router-link>
							</span>
                            <router-link to="/cart">
								<span class="navbar-text cart-area right-margin-30">
									<i class="fa fa-shopping-cart"></i>
									<span class="badge badge-pill badge-pink" >
										{{ cartItem.length > 9 ? '9+' : cartItem.length }}
									</span>
								</span>
                            </router-link>
							<span class="navbar-text">
								{{ cartTotal | currency }}
							</span>
						</div>
					</nav>
				</div>
			</div>
		</div>-->
       
       <everything-shop-navigation :cartItem="cartItem" :cartTotal="cartTotal" :fullName="fullName"></everything-shop-navigation>
       <div class="container top-margin-100 full-height">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-12" v-for="product in products" :key="product.id">
                    <div class="card">
                        <img class="card-img-top" v-bind:src = "product.imageUrl" >
                        <div class="card-body">
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="row">
                                <div class="col-6 price-text">
                                    {{ product.price | currency }}
                                </div>
                                <div class="col-6">
                                    <button class="float-right btn btn-border" v-on:click="showProductDescriptionModal(product.id)">Buy Now</button>
                                    <!--data-toggle="modal" data-target="#productDescriptionModal"-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Description Modal -->
        <div class="modal" id="productDescriptionModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <br />
                        <h4 class="product-title">{{ product != null ? product.name : '' }}</h4>
                        <input type="hidden" v-model="productId" />
                        <div>
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i>  
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i>
                        </div>
                        <br />
                        <p class="product-description">{{ product != null ? product.description : '' }}</p>
                        <p><small>{{ product != null ? product.price : '' | currency}}</small></p>
                        <img v-bind:src = "product != null ? product.imageUrl : ''" class="product-image" />
                        <br /><br />
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-2">
                                <input type="number" v-model="quantity" min="1" class="form-control" />
                            </div>
                            <div class="col-8">
                                <button class="btn btn-submit btn-add-to-bag form-control" v-on:click="addItemToCart">ADD TO BAG</button>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <br />
                    </div>

                </div>
            </div>
        </div>
    </div> 
</template>

<script>
import Vue from 'vue';

import VueLocalStorage from 'vue-localstorage';
Vue.use(VueLocalStorage);

export default {
    data(){
        return{
            products: [],
            quantity: 1,
            product: null,
            productId: null,
            cartItem: JSON.parse(this.$localStorage.get('everythingShopCartItems', '[]')),
            fullName: ""
        };
    },
    localStorage: {
        everythingShopCartItems: {
        type: String,
        default: '[]'
        },
    },
    methods:{
        showProductDescriptionModal: function (id) {

            var product = null;

            for (var i = 0; i <= this.products.length; i++) {
                if (this.products[i].id === id) {
                    product = this.products[i];
                    break;
                }
            }

            this.productId = product.id;
            this.product = product;

            $('#productDescriptionModal').modal('show');

        },
        getCartItem: function(product){
            
            for(var i = 0; i < this.cartItem.length; i++){
                if(this.cartItem[i].description.id === product.id){
                    return this.cartItem[i];
                }
            }

            return null;
        },
        addItemToCart: function(){

            var item = this.getCartItem(this.product);

            if(item != null){

                item.quantity = parseInt(item.quantity) + parseInt(this.quantity); //increase quantity

                this.$localStorage.set('everythingShopCartItems', JSON.stringify(this.cartItem));

            }else{

                let cartItems = JSON.parse(this.$localStorage.get('everythingShopCartItems', '[]'));
          
                cartItems.push({
                    'product': this.product.id,
                    'description' : this.product,
                    'quantity': this.quantity
                });
                this.cartItem = cartItems;
                this.$localStorage.set('everythingShopCartItems', JSON.stringify(cartItems));

            }

            //reset value of quantity 
            this.quantity = 1;
            $('#productDescriptionModal').modal('hide');
            
            
        }
        
    },
    computed:{
        cartTotal: function(){
            var total = 0;
            
            this.cartItem.forEach(function(item) {
                total += parseInt(item.quantity) * parseInt(item.description.price);
            });

            return total;
        }
    },
    created(){
        //this.$localStorage.remove('everythingShopCartItems');

        this.$http.get("http://localhost:1337/product")
            .then( 
                response => { //success
                    return response.json();
                    //console.log(response);
                }, 
                response => { //error
                    alert("Error. Could not fetch products at this time")
                }
            )
            .then(products => { this.products = products; console.log(this.products); });

        if (this.$session.exists()) {
            var userId = this.$session.get("everything_shop_user_id");

            this.$http.get("http://localhost:1337/user/"+userId)
            .then( 
                response => { //success
                    return response.json();
                    //console.log(response);
                }, 
                response => { //error
                    alert("Error. Could not fetch user at this time")
                }
            )
            .then(user => { this.fullName = user.firstname + " " + user.lastname; });
        }

    }
}
</script>

<style>
.full-height{min-height: calc(100vh - 150px);}
p{font-family: 'Montserrat', sans-serif;}
.product-title, .navbar-brand{letter-spacing: 5px; text-transform: uppercase;}
.right-margin-15{margin-right: 15px;}
.right-margin-30{margin-right: 30px;}
.top-margin-100{margin-top: 100px;}
.card{margin-bottom: 30px;}
h4, .card-title{font-family: 'Oswald', sans-serif; font-size: 20px;}
.card-text{font-family: 'Montserrat', sans-serif; font-size: 12px; height: 120px; overflow: hidden;}
.price-text{color: #8A0091; font-family: 'Montserrat', sans-serif; font-size: 13px;}
.btn-border{border: 2px solid black; border-radius: 0px; font-family: 'Montserrat', sans-serif; padding: 2px 8px; font-size: 13px; margin-top: -5px; outline: none !important;}
.btn-border:hover{background-color: #8A0091; color: white; border-color: #8A0091; outline: none !important;}
.card-img-top{width: 100%; height: 300px; object-position: center; object-fit: cover;}
.product-image{width: 100%; height: 200px; object-position: center; object-fit: cover;}
.product-description{font-size: 11px; color: #999;}
input[type=number]{border-radius: 0px; border: 1px solid black; text-align: center; -moz-appearance:textfield !important;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.bg-dark{ background-color: black !important; }
nav{font-family: 'Montserrat', sans-serif;}
.navbar-brand{letter-spacing: 5px; text-transform: uppercase;}
.pink-text{color: #E941F2;}
.badge-pink{background-color: #8A0091;}
.badge{padding: 3px 5px; border-radius: 50%;}
.navbar-text{color: white !important;}
.cart-area{position: relative;}
.cart-area .badge{position: absolute; top: 3px; right: -15px;}
.fa-shopping-cart{font-size: 20px;}
.btn-submit{background: black; border-color: black; color: white; font-family: 'Montserrat', sans-serif; border-radius: 0px; font-size: 13px; height: 40px; margin-top: -2px;}
.btn-submit:hover, .btn-submit:focus{color: #E941F2; background: black; border-color: black;}
</style>

