<template>
    <div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
				  <router-link class="navbar-brand" to="/">everything<span class="pink-text">shop</span></router-link>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				</nav>
			</div>
		</div>
	</div>
</template>


<style>
    .bg-dark{
        background-color: black !important;
    }
    nav{font-family: 'Montserrat', sans-serif;}
	.navbar-brand{letter-spacing: 5px; text-transform: uppercase;}
	.pink-text{color: #E941F2;}
</style>

